.btn {
  border-radius: 3.2rem;
  border: none;
  padding: 15px 30px;
  background-color: $light-gray;
  border-color: $dark-gray;
  font-family: $secondary-font;
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
  text-decoration: none;
  color: $white;
  box-shadow: 0m.5rem 1rem rgba($black, 0.3);
  transition: all 0.2s;

  &:hover {
    cursor: pointer;
    transform: translate(-0.3rem);
    background: $dark-gray;
  }

  &-main {
    background: $primary-color;
    color: $white;

    &:hover {
      cursor: pointer;
      transform: translate(-0.3rem);
      background: $secondary-color;
    }
  }

  &-secondary {
    background: $white;
    color: $secondary-color;
    border: 0.25rem solid $primary-color;

    &:hover {
      cursor: pointer;
      transform: translate(-0.3rem);
      background: $light-white;
    }
  }
}
