// <link href="https://fonts.googleapis.com/css2?family=Cabin:wght@400;600&family=Crimson+Pro:wght@400;600&display=swap" rel="stylesheet">

// fonts
$primary-font: 'Crimson Pro', serif; // 400,600
$secondary-font: 'Cabin', sans-serif; // 400,600

// colors
$primary-color: #1e6cbf;
$secondary-color: #155293;
$dark-gray: #717171;
$light-gray: #757575;
$light-white: #fff8f8;

$black: #333;
$white: #fff;
