// <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&family=Oswald:wght@300;400;600&family=Pacifico&family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">

// <link href="https://fonts.googleapis.com/css?family=Chewy|Nunito:400,400i,600,700,800" rel="stylesheet">

// fonts
$primary-font: 'Chewy', cursive; // 400,400i,600,700,800
$secondary-font: 'Nunito', sans-serif; // 400,400i,600,700,800

// colors
$primary-color: #fe919e;
$secondary-color: #ff5599;
$dark-gray: #717171;
$light-gray: #757575;
$light-white: #fff8f8;

$black: #333;
$white: #fff;
