.about {
  grid-column: center-start / center-end;

  display: grid;
  gap: 2rem;
  grid-template-rows: min-content 1fr;

  padding: 6rem 0;
  text-align: center;

  &__heading {
    font-size: 3rem;
    justify-self: center;
  }

  &__video {
    justify-self: center;

    video {
      width: 100%;
    }
  }
}
