.footer {
  grid-column: full-start/full-end;

  display: grid;
  grid-template-columns: 2rem min-content repeat(2, 1fr) 2rem;
  gap: 1rem;

  background: #e8e8e8;
  padding: 8rem 0;

  @include respond(phone) {
    grid-template-columns: 2rem 1fr 2rem;
    grid-template-rows: repeat(3, min-content);
    gap: 4rem 0.5rem;
    padding: 4rem 0;
  }

  &__logo {
    grid-column: 2/3;

    @include respond(phone) {
      grid-column: 2/3;
      align-self: center;
      justify-self: center;
    }
  }

  &__nav {
    grid-column: 3/4;
    align-self: center;

    @include respond(phone) {
      width: 100%;
      grid-column: 2/3;
      align-self: center;
      justify-self: center;
    }

    &-items {
      list-style: none;
      display: flex;
      //   flex-direction: column;
      font-size: 1.7rem;

      @include respond(phone) {
        justify-content: space-around;
      }
    }

    &-links {
      margin-left: 4.5rem;

      @include respond(phone) {
        justify-content: space-evenly;
        margin-left: 0;
      }
    }

    &-link:link,
    &-link:visited {
      text-decoration: none;
      color: $black;
      font-family: $secondary-font;
      transition: all -2s;
    }

    &-link:hover {
      color: $secondary-color;
    }
  }

  &__social {
    grid-column: 4/5;
    justify-self: flex-end;
    align-self: center;

    @include respond(phone) {
      grid-column: 2/3;
      width: 100%;
      align-self: center;
      justify-self: center;
    }

    &-items {
      list-style: none;
      display: flex;
      font-size: 4rem;

      @include respond(phone) {
        justify-content: space-evenly;
      }
    }

    &-links {
      margin-left: 6rem;
      @include respond(phone) {
        margin-left: 0;
      }
    }

    &-link:link,
    &-link:visited {
      text-decoration: none;
      color: $black;
      font-family: $secondary-font;
      transition: all -2s;
    }

    &-link:hover {
      color: $secondary-color;
    }
  }
}
