.header {
  grid-column: full-start/full-end;
  //   height: 100vh;
  // background: url('../../images/capusules_bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  // padding: 2rem 5rem;

  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 3rem repeat(2, minmax(min-content, 1fr)) 3rem;
  grid-template-rows: min-content 1fr minmax(6rem, min-content) 1fr;

  &__navbar {
    grid-column: 1/-1;
    // background: #fff;

    display: grid;
    grid-template-columns: min-content auto;
    grid-gap: 2rem;
    padding: 2rem 3rem;
    position: relative;
    z-index: 1;
    background: #fff;
  }

  &__heading-main {
    grid-column: 2/3;
    font-size: 3.5rem;
    align-self: end;
  }

  &__heading-secondary {
    grid-column: 2/3;
    font-size: 2.5rem;
  }

  &__btn {
    grid-column: 2/3;
    align-self: flex-start;
    justify-self: flex-start;
  }

  &__img {
    max-width: 100%;
    display: block;
    grid-column: 3/-1;
    grid-row: 2/5;
    align-self: center;
    justify-self: center;
    // margin-left: auto;
  }
}
