.header {
  &__logo {
    justify-self: center;
    align-self: center;
  }
  &__nav {
    justify-self: flex-end;
    align-self: center;

    &-items {
      display: flex;
      list-style: none;
    }

    &-links {
      margin-right: 5rem;
    }

    &-link:link,
    &-link:visited {
      text-decoration: none;
      font-size: 1.7rem;
      color: $black;
      font-family: $secondary-font;
      transition: all -2s;
    }

    &-link:hover {
      color: $secondary-color;
    }

    .active {
      color: $secondary-color;
    }
  }
}
