.posts {
  grid-column: center-start/center-end;

  display: grid;
  grid-gap: 2rem;

  padding: 6rem;

  &__heading {
    justify-self: center;
    font-size: 5rem;
  }

  &__container {
    grid-column: 1/-1;
    display: grid;
    grid-gap: 4rem;
    grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
  }

  .post {
    display: grid;
    grid-template-rows: repeat(3, minmax(min-content, 1fr));
    grid-template-rows: min-content;
    grid-gap: 2rem;

    &__img {
      justify-self: center;
      max-width: 100%;
    }

    &__heading {
      justify-self: center;
      font-size: 2rem;
    }

    &__description {
      font-size: 1.5rem;
    }

    &__btn {
      justify-self: center;
      align-self: center;
    }
  }

  &__btn {
    justify-self: center;
    align-self: center;
  }
}

.last-posts {
  grid-column: full-start/full-end;

  background: #eee;
}
