.resources {
  grid-column: full-start / full-end;
  display: grid;
  grid-gap: 2rem;

  padding: 6rem;
  background: #eee;

  &__main-heading {
    justify-self: center;
    font-size: 5rem;
  }

  &__nav {
    &-items {
      display: flex;
      justify-content: center;

      @include respond(phone) {
        flex-direction: column;
        align-items: center;
      }
    }
    &-links {
      list-style: none;
      @include respond(phone) {
        margin-bottom: 2rem;
      }
    }

    &-link {
      text-decoration: none;
      margin: 0 3rem;
      color: rgba($black, 0.3);
      font-size: 2rem;
      font-weight: 500;

      &:hover {
        color: $secondary-color;
      }
    }

    .active {
      color: $secondary-color;
    }
  }

  // resources container
  &__container {
    display: grid;
    grid-gap: 4rem;
    grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));

    // resource container
    .resource {
      display: grid;
      grid-template-rows: min-content;
      grid-gap: 2rem;

      background-color: $white;
      padding: 2rem;

      &__img {
        width: 100%;
        grid-column: 1/-1;
      }

      &__heading {
        justify-self: center;
        font-size: 2rem;
      }

      &__btn {
        justify-self: center;
      }
    }
  }
}
